h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

h3 {
    font-family: sans-serif;
}
li {
    color: rgb(255, 255, 255);
    font-size: 25px;
}
p {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}

.main1 {
    font-family: sans-serif;
    color: rgb(255, 251, 0);
}
.main2 {
    font-size: 70px;
    font-family: sans-serif;
    text-align: center;
    line-height: 50px;
}

body {
    background-color: #1e1e1e;
}
.pic1 {
    width: 300px;
    height: 500px;
    background-image: url(../images/pika.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
}
.pic1:hover {
    background-image: url(../images/kika.jpg);
}

@font-face {
    font-family: 'CustomFont';
    src: url(../images/fnf.ttf) format('woff2'),
  }
  
  body {
    font-family: 'CustomFont', sans-serif;
  }
  
  .iki {
    width: 200px;
  }
  
.tata {
  font-size: 30px;
}